# https://github.com/fluent/fluentd-kubernetes-daemonset
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluentd-exporter
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: fluentd-lb
  template:
    metadata:
      labels:
        app: fluentd-lb
      annotations:
        # Trick to enforce Helm rolling update
        strategyTrigger: {{ randAlphaNum 5 | quote }}
    spec:
      # https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/
      terminationGracePeriodSeconds: 30
      {{- if .Values.exporter.priorityClassName }}
      priorityClassName: {{ .Values.exporter.priorityClassName }}
      {{- end }}
      {{- if .Values.rbac.enabled }}
      serviceAccountName: fluentd-exporter
      {{- end }}
      {{- if .Values.exporter.tolerations }}
      tolerations:
        {{- toYaml .Values.exporter.tolerations | nindent 8 }}
      {{- end }}

      volumes:
        # Mount node entire log filesystem
        - name: host-volume
          hostPath:
            path: /var/log
        # Mount actual docker container logs
        # (symlinked to /var/log/containers)
        - name: docker-volume
          hostPath:
            path: /var/lib/docker/containers
        - name: exporter-volume
          configMap:
            name: exporter-config

      containers:
        - name: exporter
          image: "{{ .Values.exporter.image.repository }}:{{ .Values.exporter.image.tag }}"
          imagePullPolicy: {{ .Values.exporter.image.pullPolicy }}
          env:
            # To mount Fluentd main config in Docker
            - name: FLUENTD_CONF
              value: "fluentd.conf"
          {{- if .Values.exporter.env }}
          envFrom:
            - secretRef:
                name: exporter-dotenv
          {{- end }}
          ports:
            - name: forward
              containerPort: 24224
            - name: http
              containerPort: 9880
          volumeMounts:
            - name: host-volume
              mountPath: /var/log
            - name: docker-volume
              mountPath: /var/lib/docker/containers
              readOnly: true
            - name: exporter-volume
              mountPath: /fluentd/etc/
              readOnly: true
          {{- if .Values.exporter.resources }}
          resources:
            {{- toYaml .Values.exporter.resources | nindent 12 }}
          {{- end }}
